<div class='container'>
  <div class="xs-padded-bottom">
    <h1>Parc informatique Brand And Celebrities</h1>
    <button class='btn btn-default btn-new'>Ajouter</button>
  </div>
  <%= form_tag('/devices/search', method: :get, remote: true) do %>
    <%= text_field_tag(:search) %>
  <% end %>
  <br />
  <% if @devices.length.zero? %>
    <p>Pas de résultats</p>
  <% else %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Catégorie</th>
          <th>Equipement</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
          <%= render 'table_content', devices: @devices %>
      </tbody>
    </table>
  <% end %>
</div>
