<div class="container-fluid text-center">
<h1>Parc informatique Brand And Celebrities</h1>
<%= link_to new_device_path do %>
  <button class="new btn btn-success">Ajouter un équipement</button>
<% end %>
<br /><br />
<%= form_tag('/devices/search', method: :get, remote: true) do %>
  <%= text_field_tag(:search) %>
<% end %>
</div>
<div class="container">
  <div class="row md-marged-bottom sm-marged-top">
    <div class="col-xs-2 bold">Nom</div>
    <div class="col-xs-3 bold">Prénom</div>
    <div class="col-xs-1 bold">Catégorie</div>
    <div class="col-xs-2 bold">Equipement</div>
    <div class="col-xs-3 bold">Description</div>
    <div class="col-xs-1"></div>
  </div>
  <div id="results">
    <%= render 'table_content', devices: @devices %>
  </div>
</div>
