<div class='container'>
  <div class="xs-padded-bottom">
    <h1>Parc informatique Brand And Celebrities</h1>
    <%= link_to 'Ajouter', new_device_path, class: 'btn btn-default btn-new' %>
  </div>
  <%= form_tag('/devices/search', method: :get, remote: true) do %>
    <%= text_field_tag(:search) %>
  <% end %>
  <br />
  <table class="table table-striped table-bordered">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Catégorie</th>
      <th>Equipement</th>
      <th>Description</th>
    </tr>
    <div id="results">
      <%= render 'table_content', devices: @devices %>
    </div>
  </table>
</div>
