<div class="">
  <div class="text-center">
    <h1>Ajouter un utilisateur</h1>
  </div>
  <div class="new-form">
    <%= bootstrap_form_for @user do |user_form| %>
      <%= user_form.text_field :name, label: 'Nom' %>
      <%= user_form.text_field :email %>
      <div class="text-center">
        <%= user_form.submit 'Enregistrer'%>
      </div>
    <% end %>
  </div>
</div>

