/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

 body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.container-marged-top {
  margin-top: -90px;
  background-color: white;
  border-radius: 5px;
}

h1 {
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.new {
  font-size: 1.5em;
  margin-top: 15px;
  background-color: #427a5b;
  border: none;
}

.fa-chevron-left {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 30px;
  left: 30px;
}

.fa-chevron-left:hover {
  opacity: 0.5;
}

tr:hover {
  cursor: pointer;
}

.new-form {
  padding: 50px;
}

.index-table {
  padding: 10px;
  margin-bottom: 70px;
}

.bold {
  font-weight: bold;
}

.sm-marged-top {
  margin-top: 1em;
}

.sm-marged-bottom {
  margin-bottom: 2em;
}

.md-marged-bottom {
  margin-bottom: 3em;
}

.xs-padded-bottom {
  padding-bottom: 1.5em;
}

.btn-new {
  display: inline-block;
}
